@import '../../styles/variables';

.board-wrapper {
    display: grid;
    grid-template-rows: auto auto;
    place-items: center;
    width: 100%;
    .letters-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: calc(5 * (50px + 10px));
        margin: 0 auto;
    }
    .dock-wrapper {
        max-width: calc(6 * (50px + 10px));
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
.letter {
    display: block;
    width: 50px;
    height: 50px;
    margin: 5px;
    background: $letter-background;
    border-radius: 5px;
    color: $letter-color;
    font-size: 2em;
    text-align: center;
    text-transform: capitalize;
    line-height: 50px;
    cursor: pointer;

    &:hover {
        background: $letter-hover;
    }
    &.active {
        background: $letter-active-background;
        color: $letter-active-color;
    }
    &.game-won {
        background: $game-won-background;
        color: $game-won-color;
    }
    &.game-lost {
        background: $game-lost-background;
        color: $game-lost-color;
    }
}
