$game-lost-background: rgb(170, 6, 6);
$game-lost-color: rgb(238, 235, 235);
$game-won-background: green;
$game-won-color: rgb(238, 235, 235);

$letter-background: rgb(245, 222, 179);
$letter-hover: rgb(245, 227, 193);
$letter-color: black;
$letter-active-background: rgb(194, 90, 30);
$letter-active-color: rgb(232, 255, 130);
