.App {
    text-align: center;
    background-color: #282c34;
    color: white;
    height: 100vh;
}

.App-header {
    max-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}
