body {
    background-color: #282c34;
}
.App {
    text-align: center;
    color: white;
    height: 100vh;
    width: 100vw;
}

.App-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin-bottom: 25px;
    flex-wrap: wrap;
    h2{
        flex-basis: 100%;
        text-decoration: underline;
        font-weight: bold;
    }
}
